body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #3B5998;
    color: #fff;
    padding: 1em;
    text-align: center;
    font-size: 1.5em;
}

.container {
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.footer {
    background-color: #3B5998;
    color: #fff;
    padding: 1em;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}


